*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: calc(15px + 0.390625vw);
  font-family: $font-second;
  letter-spacing: 0px;
  font-size: 14px;
  color: $color-dark;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

a:hover,
li:hover {
  color: $color-bmw-blue;
  transition: $transition;
  transform: scale(1.1, 1.1);
}

a {
  color: $color-bright;
}
