#intro {
  justify-content: center;
  height: 100vh;
  max-height: 864px;

  .slider-container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    input {
      position: absolute;
      opacity: 0;
      margin-top: 95vh;
      cursor: pointer;
    }

    label {
      display: inline-block;
      width: 60px;
      height: 5px;
      background-color: $color-bright;
      margin: 80vh 15px 0 0;
      z-index: 2;
      cursor: pointer;
      transition-duration: 0.4s;

      &:nth-child(2) {
        margin-left: 14.5vw;
      }
    }

    input:checked + label {
      background-color: $color-bmw-blue;
    }

    .slide {
      position: absolute;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      max-height: 864px;
      top: 0;
      left: 0;
      z-index: -1;
      transform: translateX(-100%);
      transition-duration: 1s;
      opacity: 1;

      &::after {
        content: "";
        position: absolute;
        width: 70%;
        height: 100%;
        max-height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, #000000 0%, #00000000 100%);
        opacity: 0.75;
      }
    }

    input:checked ~ .slide {
      transform: translateX(100%);
    }

    input:checked + label + .slide {
      transform: translateX(0);
    }

    .slider1 {
      background-image: url("../images/slider1.png");
    }

    .slider2 {
      background-image: url("../images/slider2.png");
    }

    .slider3 {
      background-image: url("../images/slider3.png");
    }
  }

  a {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.9px;
    height: 63px;
    width: calc(269px + 5.365vw);
    background-color: $color-bmw-blue;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(80vh - 29px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }

  .intro-title {
    text-transform: uppercase;
    position: absolute;
    left: 14.5vw;
    top: 35vh;

    p span {
      text-transform: lowercase;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    p:nth-child(2) {
      font-size: 64px;
      font-weight: 700;
      color: $color-bright;
      font-size: clamp(3rem, calc(4vw + 1rem), 4rem);
      line-height: 1;
      margin: 0.4375em 0;
    }
    p:nth-child(3) {
      font-size: 16px;
      font-weight: 600;
      color: $color-bright;
      line-height: 1.25;
      margin: 0.3125em 0;
    }
  }
}
