#info-2 {
  display: flex;
  margin-top: 12.5vh;
  justify-content: flex-end;

  article,
  div:not(.img-2-wrapper) {
    margin-top: 9.375vh;
  }

  .images-wrapper {
    display: flex;

    .img-2-wrapper {
      margin: 0 4.15vw 0 16px;
    }
  }

  img {
    max-width: 100%;
    height: auto;

    &:hover {
      transform: scale(1.05);
      transition: 0.5s;
    }
  }

  .description-wrapper {
    max-width: 536px;
    margin: 0 8vw 0 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    h2 {
      width: 100%;
    }

    img:first-child {
      margin-bottom: 13px;
    }

    p:nth-child(3) {
      margin: 4.6875vh 0 3.125vh 0;
      font-size: 20px;
      font-weight: 300;
      color: $color-semi-dark;
      line-height: 32px;
    }

    p:nth-child(4) {
      margin: 0;
      line-height: 24px;
    }
  }
}

@media (max-width: 576px) {
  #info-2 {
    align-items: center;

    .description-wrapper {
      margin: 0;
    }
  }
}

@media (max-width: 1200px) {
  #info-2 {
    flex-direction: column-reverse;

    .description-wrapper {
      width: 90%;
    }

    .images-wrapper {
      width: 100%;
      justify-content: space-around;
      margin-bottom: 8.33vh;

      .img-2-wrapper {
        margin: 0 0 0 10px;
      }
    }
  }
}
