#gallery {
  display: flex;
  line-height: 0;
  margin-top: 19.6875vh;
  justify-content: center;

  img {
    max-width: 100%;
    height: auto;
    padding: 5px;

    &:first-child:hover {
      transform: scale(1.01);
    }

    &:hover {
      transform: scale(1.025);
      transition: 0.5s;
    }
  }

  .left-wrapper {
    margin: 0 0 0 5px;
  }

  .right-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .row {
      display: flex;
    }
  }
}

@media (max-width: 839px) {
  #gallery {
    flex-direction: column;
    margin-top: 16.67vh;

    .left-wrapper {
      margin: 0;
    }
  }
}
