$color-bright: #ffffff;
$color-bmw-blue: #3369d3;
$color-grey-op-25: #70707040;
$color-semi-dark: #707070;
$color-dark: #4e4e4e;
$color-black: #000000;
$color-black-op-90: #000000e6;

$color-background-footer: #e6e6e6;
$color-media-border: #bebebe;
$color-intro-subtitle: #d6d6d6;
$color-menu-border: #343434;

$font-first: "Cairo", sans-serif;
$font-second: "Open Sans", sans-serif;
$font-third: "Roboto", sans-serif;

$transition: 0.5s;
