$color-bright: #ffffff;
$color-bmw-blue: #3369d3;
$color-grey-op-25: #70707040;
$color-semi-dark: #707070;
$color-dark: #4e4e4e;
$color-black: #000000;

$color-background-footer: #e6e6e6;
$color-media-border: #bebebe;

$font-first: "Cairo", sans-serif;
$font-second: "Open Sans", sans-serif;
$font-third: "Roboto", sans-serif;
