@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&family=Open+Sans:wght@300;400&family=Roboto:wght@300;700&display=swap");
h2 {
  font-size: clamp(1.5rem, calc(2vw + 0.75rem), 2.25rem);
  font-family: $font-first;
  line-height: 40px;
  font-weight: 700;
  color: $color-black;
  text-transform: uppercase;
  padding: 14px 0;
  margin: 0;

  & span {
    text-transform: lowercase;
  }
}

h3 {
  font-family: $font-first;
  color: $color-black;
  font-size: 20px;
  line-height: 40px;
  font-weight: 600;
  margin: 0;
}
